* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
} 

.sidebar {
    padding: 40px;
    min-height: 200%;
    width: 33.3%;
    font-size: 0.9em;
}

.rigth-side {
    font-family: 'Titillium Web', sans-serif;
    background: green;
    width: 66.7%;
    position: fixed;
    right: 0;
    height: 100%;
    background-image: url(https://cdn-images.mailchimp.com/billboards/phpoXIlk0.jpeg);
    background-size: cover;
    background-position: center;
    padding: 55px;
}

.rigth-side-text {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
}

.transparent__button {
    display: block;
    text-decoration-line: none;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    width: 180px;
    color: black;
    border: 2px solid black;
    opacity: 1;
    transition: opacity .15s linear;
    font-weight: 700;
}

.transparent__button:hover {
    opacity: .7;
}

.transparent__button:focus {
    border: 1px solid #007c89;
    box-shadow: inset 0 0 0 1px #007c89;
    outline: none;
}

.logo_images {
    display: block;
    margin: 0 auto;
    height: 125px;
}

.headline_big {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 46px;
}

.padding_15px {
    padding: 15px;
}

 .color_blue {
    color: #007c89;
}

.color_blue:hover, .color_darkgrey a:hover{
    color: #004e56;
}

.color_darkgrey, .color_darkgrey a {
    color: darkgrey;
}

.font_size09em {
    font-size: .9em;
}
.padding_bottom30px {
    padding-bottom: 30px;
}
.sidebar a {
    text-decoration: none;
    border-bottom: 1px solid;
}

.sidebar__form__label {
    padding-top: 30px;
    padding-bottom: 10px;
}

.padding_top_bottom_30px {
   padding: 30px 0; 
}
   
.margin_top_30px {
    margin-top: 30px;
}

.margin_top_50px {
    margin-top: 50px;
}

.select_none {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.font_weight500 {
    font-weight: 500;
}

.sidebar__form__input {
    min-height: 52px;
    width: 100%;
    font-size: 1.2em;
    line-height: 20px;
    padding: 0 15px;
    border: 1px solid rgba(36,28,21,0.3);
    transition: box-shadow .1s ease-in-out;
    border-radius: 2px;
}

.sidebar__form__input:focus {
    outline: none;
    border: 1px solid #007c89;
    box-shadow: inset 0 0 0 1px #007c89;
}

.flex_space_between {
    justify-content: space-between;
}



.form__button {
    background: #007c89;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    border: 1px solid transparent;
    border-radius: 2px;
}

.form__button:hover {
    background: #004e56;
}

#form__checkbox{
    display: none;
}

#form__checkbox:checked + label::before{
    background: #007c89;
    color: white;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    display: flex;
    justify-content: center;
    align-items: center
}

#form__checkbox + label::before {
    content: "";
    position: relative;
    right: 10px;
    height: 25px;
    width: 25px;
    border: 1px solid #9e9c9c;
    border-radius: 2px;
    cursor: pointer;
}

#form__checkbox:focus {
    outline: none;
    border: 2px solid #004e56;
}

.flex {
    display: flex;
}

.flex_XY_center {
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap:wrap;
}

.cursor_pointer {
        cursor: pointer;
}

.input__graphic__label {
    width: 70px;
}

.float_rigth {
    float: right;
}

@media (max-width: 1024px) {
    
    .rigth-side {
        display: none;
    }
    
    .sidebar {
        width: 100%;
        max-width: 480px;
        padding: 0 15px;
        margin: 0 auto;
    }
}
#text-message-error {
    display: none;
    margin: 15px 0;
    padding: 15px;
    background: pink;
    width: 100%;
    height: 50px;
    font-size: 1.2em;
}
